<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>
                    GARAGE HAIR
                </h2>

                <p>
                    Estilo que transforma.
                </p>
            </div>

            <div class="col-lg-4">
                <h3>
                    Navegação
                </h3>

                <ul class="footer-menu">
                    <li>
                        <a data-link="index.html">
                            Início
                        </a>
                    </li>

                    <li>
                        <a data-link="pages/sobre.html">
                            Sobre
                        </a>
                    </li>

                    <li>
                        <a data-link="pages/projetos.html">
                            Projetos
                        </a>
                    </li>

                    <li>
                        <a data-link="pages/impacto.html">
                            Impacto
                        </a>
                    </li>

                    <li>
                        <a data-link="pages/acessibilidade.html">
                            Acessibilidade
                        </a>
                    </li>

                    <li>
                        <a data-link="pages/contato.html">
                            Contato
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h3>
                    Contato
                </h3>

                <p>
                    Rua dos Pinheiros, 158<br> São Paulo - SP
                </p>

                <p>
                    contato@garagehair.com
                </p>
            </div>
        </div>

        <hr>

        <div class="footer-bottom text-center">
            <p>
                &copy; 2026 Garage Hair — Projeto acadêmico <strong>fictício</strong> desenvolvido para a disciplina de Desenvolvimento Web.
            </p>
        </div>
    </div>
</footer>