<!-- Navbar -->
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" data-link="index.html">
                Garage Hair
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal" aria-controls="menuPrincipal" aria-expanded="false" aria-label="Abrir menu de navegação">
                <i class="bi bi-list" aria-hidden="true"></i>
            </button>

            <div class="collapse navbar-collapse" id="menuPrincipal">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-link="index.html">
                            Início
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-link="pages/sobre.html">
                            Sobre
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-link="pages/projetos.html">
                            Projetos
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-link="pages/impacto.html">
                            Impacto
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-link="pages/acessibilidade.html">
                            Acessibilidade
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-link="pages/galeria.html">
                            Galeria
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-link="pages/midia.html">
                            Mídia
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-link="pages/noticias.html">
                            Notícias
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-link="pages/contato.html">
                            Contato
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>